<%- include("../partials/header.ejs") %>
<%- include("../partials/navbar.ejs") %>
<%- include("../partials/message.ejs") %>

<form action="/backend/user/changeUserPassword/<%= userData._id %>" method="post">
    <div class="mb-2">
      <label for="emailId">Email Id</label>
      <input 
      type="email" 
      value="<%= userData.emailId %>"
      class="form-control"
      id="emailId"
      name="emailId"
      disabled
      >
    </div>
    <div class="mb-2">
      <label for="fullName">Full Name</label>
      <input 
      type="text" 
      value="<%= userData.fullName %>"
      class="form-control"
      id="fullName"
      name="fullName"
      disabled
      >
    </div>
    <div class="mb-2">
      <label for="oldPassword">OLd Password</label>
      <input 
      type="password" 
      placeholder="Enter Old Password"
      class="form-control"
      id="oldPassword"
      name="oldPassword"
      
      >
    </div>
    <div class="mb-2">
      <label for="newPassword">New Password</label>
      <input 
      type="password" 
      placeholder="Enter New Password"
      class="form-control"
      id="newPassword"
      name="newPassword"
      >
    </div>
    <input type="submit" value="change Password">
  
</form>

<%- include("../partials/footer.ejs") %>