<%- include("../partials/header.ejs") %>
<%- include("../partials/navbar.ejs") %>
<%- include("../partials/message.ejs") %>

<form action="/backend/user/logoutUser/<%= userData._id %>" method="post">
  <button type="submit">logout</button>
</form>

<%- include("../partials/footer.ejs") %>