<%- include("../baseFiles/header.ejs") %>
<%- include("../baseFiles/messages.ejs") %>

<form action="/api/users/updateUser/<%= userData._id %>" method="post">
  <div class="mb-3">
    <label for="email" class="form-label">Email Id</label>
    <input type="email" class="form-control" id="email" placeholder="Enter Email Id" name="emailId" value="<%= userData.emailId %>" disabled required/>
  </div>
  <div class="mb-3">
    <label for="userName" class="form-label">UserName</label>
    <input type="text" class="form-control" id="userName" placeholder="Enter Unique UserName" name="userName" value="<%= userData.userName %>" disabled required/>
  </div>
  <div class="mb-3">
    <label for="fullName" class="form-label">FullName</label>  
    <input type="text" class="form-control" id="fullName" placeholder="Enter Full Name" name="fullName" value="<%= userData.fullName %>" required/>
  </div>
  <div class="mb-3">
    <label for="gender" class="form-label">Gender</label>
    <select name="gender" id="gender" required>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="transgender">Transgender</option>
    </select>
  </div>
  <button type="submit">submit</button>
</form>


<%- include("../baseFiles/footer.ejs") %>